.search-input-container {
    position: relative;
    min-width: 45rem;
    width: 100%;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.bid-search-icon {
    position: absolute;
    left: 0.857rem;
    height: 1.714rem;
    width: 1.714rem;
    color: #6b7280 !important;
    z-index: 1;
}

.bid-search-input {
    width: 100%;
    border-radius: 0.429rem;
    border: 0.143rem solid #ebecef;
    background-color: white;
    padding: 0.571rem 1.786rem 0.571rem 3.571rem;
    color: #6b7280 !important;
    font-size: 1.143rem;
    font-weight: 700;
}

.bid-search-input:focus {
    outline: none !important;
}