.bidnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
}

.bidnav-section {
    display: flex;
    align-items: center;
    /* Remove width: 100% */
}

.bidnav-container {
    padding-left: 22.857rem;
    padding-right: 2.143rem;
    padding-top: 1.8rem;
    width: 100%;
    height: 6rem;
}

.bidnav-container.sidebar-collapsed {
    padding-left: 8.3rem;
}

.bidnav-item {
    margin-right: 1.429rem;
    font-size: 1.143rem;
    font-weight: 600;
    text-decoration: none;
    color: #999;
    padding: 0.6rem 0.714rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.bidnav-item::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    /* Align with the grey border */
    left: 0;
    width: 0;
    height: 0.143rem;
    background-color: #FF8019;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.bidnav-item:hover {
    color: #FF8019;
    /* Changed from black to orange */
}

.bidnav-item:hover::after {
    width: 100%;
}

.bidnav-item.active {
    color: #FF8019;
    /* Changed from black to orange */
}

.bidnav-item.active::after {
    width: 100%;
}

.back-arrow-button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin: 0;
    padding: 0.357rem;
    margin-right: 0.3rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.back-arrow-button:hover {
    transform: translateX(-0.214rem);
    color: #FF8019;
    /* Changed from #666 to orange */
}

.back-arrow-button:focus {
    outline: none;
}

.back-arrow-button:active {
    transform: translateX(-0.143rem);
}

.buttons-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking */
    margin-bottom: 1rem;
    /* Match the nav items spacing */
}