.status-identification {
    background-color: #FFE4DC !important;
    color: #D14D1F !important;
    border: none;
}

.status-capture {
    background-color: #E1F3FB !important;
    color: #2B87AF !important;
    border: none;
}

.status-first-review {
    background-color: #E6FFE6 !important;
    color: #2E8B2E !important;
    border: none;
}

.status-final-review {
    background-color: #F8E6F8 !important;
    color: #8B488B !important;
    border: none;
}

.status-submitted {
    background-color: #E0F5E9 !important;
    color: #2A7F4F !important;
    border: none;
}

.styled-menu-item {
    font-size: 1rem;
    padding: 0.571rem 1.143rem;
    font-weight: 600 !important;
    border: none;
}

.styled-menu-item:hover {
    background-color: #f5f5f5;
}

.bid-status-menu {
    font-weight: 700;
    font-size: 1.143rem;
}