.toggle-wrapper {
    padding: 0.3rem;
    background-color: #f3f4f6;
    border-radius: 0.571rem !important;
    display: inline-block;
}

.btn-group .btn.view-toggle-btn {
    font-weight: 700;
    font-size: 1.143rem;
    margin: 0.143rem;
    padding: 0.5rem;
    border-radius: 0.571rem !important;
}

.btn-group .btn.view-toggle-btn.btn-primary {
    background-color: white;
    border-color: transparent;
    color: #404a50;
    box-shadow: 0 0.071rem 0.214rem rgba(0, 0, 0, 0.1);
}

.btn-group .btn.view-toggle-btn.btn-primary:hover {
    background-color: white;
    border-color: transparent;
}

.btn-group .btn.view-toggle-btn.btn-light {
    background-color: transparent;
    border-color: transparent;
    color: #404a50;
}

.btn-group .btn.view-toggle-btn.btn-light:hover {
    background-color: rgba(255, 255, 255, 0.5);
}